!!!
%html
  %head
    %title Shop
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "data-turbo-track": "reload"
    = javascript_include_tag "turbo", type: "module"
  %body.bg-gray-100
    %nav.flex.justify-between.bg-white.p-4.shadow
      - if user_signed_in?
        %div
          = link_to "Товары", root_path, class: "mr-4"
          = link_to "Корзина", cart_items_path, class: "mr-4"
        %div
          = link_to "Выйти", destroy_user_session_path, data: { turbo_method: :delete }, class: "mr-4"

    .p-4
      = render 'layouts/flash'
      = yield